# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Prisma 7 - IMPORTANT
# Do not commit the generated client artifacts
/src/generated/prisma
# Keep your credentials safe
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# Production / Build
/build
/dist

# Testing
/coverage

# Vercel
.vercel

# Misc / Debug
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# JetBrains/WebStorm
.idea/
*.iml
*.iws
*.ipr